/* From Uiverse.io by Gautammsharma */
.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #ff5252;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.comic-button:hover {
    background-color: #fff;
    color: #ff5252;
    border: 2px solid #ff5252;
    box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
}


.card1 {
    background-color: #fffdf5;
    border-radius: 20px;
    border: none;
    transition: transform 0.3s ease;
}

.card1:hover {
    transform: scale(1.03);
}

.card-title1 {
    font-size: 1.2rem;
    font-weight: bold;
}

.card-text1 {
    font-size: 0.95rem;
}

.btn1- {
    background-color: #865136;
    border: none;
    font-weight: bold;
}

.btn1:hover {
    background-color: #e0b670;
}